<div class="container">
      <br><br>
      <steps>

          <step>
              <h1 class="header center orange-text">AHP</h1>

              <div class="row center">
                <button step-next class="btn-large waves-effect waves-light orange">INICIAR</button>
              </div>
              <div class="row center">
                <h5 class="header col s12 light">A programação multicritério por meio do Analytic Hierarchy Process é uma técnica estruturada para tomada de decisão em ambientes complexos em que diversas variáveis ou critérios são considerados para a priorização e seleção de alternativas ou projetos.</h5>
              </div>
          </step>

          <step>
              <div class="row">
                  <ng-include class="col s12 m12 l12" src="'app/modules/ahp/views/step1.html'"></ng-include>
              </div>

              <button class="btn waves-effect waves-light left" step-previous>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                VOLTAR
              </button>

              <button class="btn waves-effect waves-light right" step-next>SEGUIR
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
          </step>

          <step>
              <ng-include class="col s12 m12 l12" src="'app/modules/ahp/views/step2.html'"></ng-include>

              <button class="btn waves-effect waves-light left" step-previous>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                VOLTAR
              </button>

              <button class="btn waves-effect waves-light right" step-next>SEGUIR
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
          </step>

          <step>
              <ng-include class="col s12 m12 l12" src="'app/modules/ahp/views/step3.html'"></ng-include>

              <button class="btn waves-effect waves-light left" step-previous>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                VOLTAR
              </button>

              <!-- <button class="btn waves-effect waves-light right" step-next>SEGUIR
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button> -->
          </step>

      </steps>
      <br><br>
</div>
