<div class="container">
      <br><br>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input value="Identificar causa e falha em sistemas eletricos" type="text">
              <label for="textarea1" class="active">Descreva seu problema</label>
            </div>
          </div>

          <div class="row">
            <div class="col s6">
                <span>Adicione seus critérios</span>
                <div class="input-field col s12">
                  <input type="text" >
                  <label for="first_name2">Critério 1</label>
                </div>
                <div class="input-field col s12">
                  <input type="text" class="validate">
                  <label for="first_name2">Critério 2</label>
                </div>
                <div class="input-field col s12">
                  <input type="text" class="validate">
                  <label for="first_name2">Critério 3</label>
                </div>
                <div class="input-field col s12">
                  <input type="text" class="validate">
                  <label for="first_name2">Critério 4</label>
                </div>
                <!-- <div class="input-field col s12 center">
                  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div> -->

            </div>

            <div class="col s6">
              <span>Adicione suas alternativas</span>
              <div class="input-field col s12">
                <input type="text" class="validate">
                <label for="first_name2">Alternativa 1</label>
              </div>
              <div class="input-field col s12">
                <input type="text" class="validate">
                <label for="first_name2">Alternativa 2</label>
              </div>
              <div class="input-field col s12">
                <input type="text" class="validate">
                <label for="first_name2">Alternativa 3</label>
              </div>
              <div class="input-field col s12">
                <input type="text" class="validate">
                <label for="first_name2">Alternativa 4</label>
              </div>
              <!-- <div class="input-field col s12 center">
                <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div> -->
            </div>
          </div>
        </form>
      </div>

</div>
