<div class="row">
  <div class="col s12">
    <h4 class="center orange-text"> Construção das matrizes de preferência para cada critério</h4>

      <h5 class="center header col s12 light">Compare as suas alternativas de acordo com criterios .</h5>
  </div>

</div>

<br><br>

<div class="row center" ng-repeat="criterion in vm.criterions">
    <div class="row center">
      <div class="col s12">
          <span  class="card-panel teal lighten-2 white-text" >{{ criterion.text }}</span>
      </div>
    </div>
    <br/><br/>
    <div class="row center" ng-repeat="alternative in vm.alternatives">
      <div class="col l3">
        <span class="right">{{ alternative.text }}</span>
      </div>
      <div class="col l6">
        <label for="test9">9</label>
        <input ng-model="$parent.group1" name="setRadio" value="9" type="radio" id="test9" />

        <label for="test7">7</label>
        <input ng-model="$parent.group1" name="setRadio" value="7" type="radio" id="test7" />

        <label for="test1">5</label>
        <input ng-model="$parent.group1" name="setRadio" value="9" type="radio" id="test1" />

        <label for="test3">3</label>
        <input ng-model="$parent.group1" name="setRadio" value="3" type="radio" id="test3" />

        <input ng-model="$parent.group1" name="setRadio" value="1" type="radio" id="test5" />
        <label for="test5">1</label>

        <input ng-model="$parent.group1" name="setRadio" value="3/1" type="radio" id="test1-3" />
        <label for="test1-3">3</label>

        <input ng-model="$parent.group1" name="setRadio" value="5/1" type="radio" id="test1-5" />
        <label for="test1-5">5</label>

        <input ng-model="$parent.group1" name="setRadio" value="7/1" type="radio" id="test1-7" />
        <label for="test1-7">7</label>

        <input ng-model="$parent.group1" name="setRadio" value="9/1" type="radio" id="test1-9" />
        <label for="test1-9">9</label>
      </div>

      <div class="col l3" ng-show="$index != vm.alternatives.length-1">
        <span class="left">{{ vm.alternatives[$index + 1].text }}</span>
      </div>

      <div class="col l3" ng-show="$index == vm.alternatives.length-1">
        <span class="left">{{ vm.alternatives[0].text }}</span>
      </div>
    </div>
</div>




<a class="btn waves-effect waves-light left" ng-href="#/ahp/step/1">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
  VOLTAR
</a>

<a class="btn waves-effect waves-light right" ng-href="#/ahp/step/3">SEGUIR
  <i class="fa fa-arrow-right" aria-hidden="true"></i>
</a>
