<div class="container">
      <br><br>
      <h1 class="header center orange-text">Justifique já a sua escolha !</h1>

      <div class="row center">
        <a ng-href="#/ahp" id="download-button" class="btn-large waves-effect waves-light orange">MÉTODO AHP</a>
      </div>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
      <br><br>
</div>

<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">DECISION SUPPORT APP</h5>
          <p class="grey-text text-lighten-4" lingdex="3">O DECISION SUPPORT APP é uma aplicação que contém varios metodos para auxiliar as pessoas na tomada de decisões complexas. Mais do que determinar qual a decisão correta, ajudamos as pessoas a escolher e a justificar a sua escolha.</p>

        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Instituto Federal de Alagoas</h5>
          <p class="white-text">Bacharelado em Sistemas de Informação</p>
          <p class="white-text">Disciplina de Projeto Integrador 2</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Desenvolvido por <a class="orange-text text-lighten-3" href="https://github.com/gabe351" target="_blank">Gabriel Rosa</a> and  <a class="orange-text text-lighten-3" href="https://github.com/fromdenisvieira" target="_blank">Denis Vieira</a>
      </div>
    </div>
  </footer>
